.sidebar {
  min-height: 100vh;
  width: 250px;
}
.sidebar .list-group-item.active {
  background-color: #000 !important;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.item-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
}
